<% include ./partials/header.ejs %>
<div class="row">


  <%for(var i = 0; i < items.length; i++){%>
    <div class="col-sm-12 col-md-4 mb-5">
      <p>Title : <%=items[i].title%></p>
      <p>Publication : <%=items[i].publication%></p>
      <p>Authors :<%=items[i].authors%></p>

      <a href="/items/show/<%=items[i]._id%>">Request to Rent</a>

    </div>
  <%}%>
  </div>

<% include ./partials/footer.ejs %>
